.Student table{
border: 1px solid #ccc;
border-collapse: collapse;
width: 300px;
margin-bottom: 10px;
}

.Student table th,
.Student table tr  {
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.Student table th{
  width: 100px;
}
.Student table tr  {
  text-align: center;
}
